.DS_Store

rapport/rapport.*
!rapport/rapport.tex
!rapport/rapport.pdf

database/negatives/*
database/positives/*
!database/negatives/*.zip
!database/positives/*.zip

# code files/folders
env/
__pycache__/